* {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}



/* Ajustes de Pagina */
html, body {
    height: 100%;
    margin: 0px;

}
 
#wrapper {
    min-height: 100%;
    position: relative;
}
 
#header {
    width: 100%;
}
 
#content {
    padding-bottom: 60%; /* El tamaño del footer para evitar el sobreposicionamiento */
}
 
#footer {
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}

h1 {
    font-size: 32px;
    margin-left: 45px;
}

/* Diseños del menu */ 
nav {
    width: 100%;
    background-color: #428bca;
}

#menu li{
    text-align: center;
    display: inline-block;
    list-style: none;
    padding: 5px;
    line-height: 34px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    background-color: #428bca;
}

#menu li a{
    color: #fff;
    text-decoration: none;
}

#menu li:hover{
    background-color: #f00;
    border-color: #66afe9;
    -moz-border-color: #66afe9;
    -webkit-border-color: #66afe9;
}

#page-wrapper{
    width: 60%;
    float: left;
    margin-left: 15px;
    margin-right:15px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.articulo{
   text-align: justify;
   margin-bottom: 20px; 
    background-color: #e7e7e7;
    float: left;
    width: 100%;
    padding: 15px;
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px;   
}

.img-art{
    float: left;
    width: 30%;
    margin-right: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/* Diseños Barra lateral */

#sidebar {
    margin-left: 15px;
    margin-right:15px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: left;
    width: 29%;
    background-color: orange;
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px;
}

/* Diseños pie de pagina */

#footer{
    color: #FFF;
    background-color: #000;
    border: 1px;
    border-top: #orange;
}

#footer p {
    margin: 15px;
    font-style: italic;
    text-align: center;
}

a{
    text-decoration: none;
    color: orange;
    font-style: bold;
}

/* input */

select{
    width: 220px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px;

}

strong{
    font-size: 28px;
}

.group{
    width: 100%;
    float: left;
    margin-bottom: 15px;

}

.input-nombre{
    float: left;
    width: 50%;
}

.input-edad{
    float:  left;
    width: 30%;
    margin-left: 15%;
}

.input-raza{
    float: left;
    width: 95%;
}

.input-fecha{
    float: left;
    width: 40%;
}

.input-hora{
    float: left;
    width: 40%;
    margin-left: 15%;
}



.form-control {
  display: block;
  width: 100%;
  padding: 3px 6px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
